/* My Styles */


body {
    padding: 0;
    overflow-x: hidden;
    font-family: 'Chillax', sans-serif;
   height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}



html {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

  
  .landing-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  h1, h2, h5 {
    margin: 0;
    font-weight: normal;
  }
  
  span.line {
    position: absolute;
    width: 300px;
    height: calc(100vw + 300px);
    transform: skew(135deg) translateX(-300px);
    transform-origin: bottom left;
    z-index: -1;
  }
  
  .profile-pic {
    padding: 2px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2.5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }
  
  .line1 {
    top: 50px;
    background-color: #FFEEE8;
  }
  
  .line2 {
    top: 120px;
    background-color: #F2D3D0;
    
  }
  
  .line3 {
    top: 160px;
    background-color: #F2B4AE;
    
  }
  
  .line4 { top: 240px;
    background-color: #F2D3D0;
  }
  
  .about-page {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6))
  }



p {

    line-height: 3.38vh;
    font-style: 300;

}

nav{
   justify-content: space-between;
}

.links {
    display: flex;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6))
}

.check-me-out{
    text-align: center;
    align-items: center;
    
  }
  
  a.check-me-out{
  width: 114px;
  height: 36px;
    border: 1.5px solid #E85F5C;
  box-sizing: border-box;

  
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  
  
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #E85F5C;
  text-decoration: none;
  
  }
  
  a.check-me-out:hover{
   
  
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  background: #F28E85;
    border: #F28E85 solid 1.5px; 
  }
  
  a.check-me-out:active{

  
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  background: #F28E85;
    border: #F28E85 solid; 
  }
  
  a.check-me-out:focus{

  
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  background: #E85F5C;
    border: #E85F5C solid 1.5px;
  }

 