/* My Styles */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
  font-family: "Chillax", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.profile-pic {
  padding: 0;
  margin: 20px;
  margin-bottom: 0;
  max-height: 130px;
  max-width: 130px;
  z-index: 10;
}

.profile-pic:hover {
  transform: scaleX(-1);
}

h4 {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

h5 {
  margin: 0;
  font-size: 0.789rem;
  text-align: center;
}

.about-page {
  max-width: 1024px;
  margin: auto;
  padding: 0 30px;
}

p {
  line-height: 3.38vh;
  font-style: 300;
  font-size: 0.9rem;
}

.links {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.check-me-out {
  text-align: center;
  align-items: center;
}

a.check-me-out {
  min-width: 100%;
  min-height: 46px;
  background-color: #ffffff;
  border: 1.75px solid #e85f5c;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #e85f5c;
  text-decoration: none;
}

a.check-me-out:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #f28e85;
  border: #f28e85 solid 1.5px;
}

a.check-me-out:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #f28e85;
  border: #f28e85 solid;
}

a.check-me-out:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #e85f5c;
  border: #e85f5c solid 1.5px;
}
