/* My Styles */

@import url("https://fonts.googleapis.com/css2?family=Chillax&display=swap");

body {
  background-color: #0d1151;
  height: 100vh;
  font-family: "Chillax", sans-serif;
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  line-height: 2.7rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  /* add visual interest glow effect */
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px #ee7752, 0 0 70px #ee7752, 0 0 80px #ee7752, 0 0 100px #ee7752;
  padding: 0 30px;
}

.space {
  font-weight: 600;
  text-align: center;
  color: #ffffff00;
  padding: 0 0 26px 0;
  font-size: 1rem;
  line-height: 0;
  /* move up */
  margin-top: -20px;
}

.profile-pic {
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  /* add visual interest glow effect */
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px #ee7752, 0 0 70px #ee7752, 0 0 80px #ee7752, 0 0 100px #ee7752,
    0 0 150px #ee7752;
  /* bring to back */
  z-index: 1;
  max-width: 100px;
  width: 30%;

  filter: grayscale(100%);
}

.profile-pic:hover {
  animation: glow 2s ease-in-out infinite;

  filter: grayscale(0%);
}

.about-page {
  max-width: 1024px;
  margin: auto;
  padding: 0 30px;
}

h2 {
  color: #ffffff;
  text-align: center;
  padding: auto;
}

p {
  line-height: 3.38vh;
  font-style: 300;
  font-size: 0.789rem;
  color: #ffffff;
}

.links {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.link {
  text-align: center;
  align-items: center;
}

a.link {
  min-width: 100%;
  min-height: 46px;
  background-color: #ffffff;
  border: 1.75px solid #e85f5c;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #e85f5c;
  text-decoration: none;
}

a.link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #f28e85;
  border: #f28e85 solid 1.5px;
}

a.link:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #f28e85;
  border: #f28e85 solid;
}

a.link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #e85f5c;
  border: #e85f5c solid 1.5px;
}
